::before,
::after {
    box-sizing: border-box;
}

.bottoms {
 
    font-family: "Rokkitt", serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.getintouch{
font-size: 20px;
font-weight: bold;
margin-top: 10px;
margin-bottom: 10px;
}
.card,
.contact {
    display: flex; /* Enables flexbox layout */
    align-items: center; /* Vertically centers children */
    gap: 20px; /* Adds space between children */
    color: #222222;
    background: #ffd6e0;
    width: 90%;
    border-radius: 5px;
    padding: 10px; /* Simplifies padding */
    margin: 50px auto; /* Centers the card horizontally */
    border-color: yellow;
    box-shadow: 2px 2px 3px #000;

}




#intro {
    display: flex;
    text-align: left;
    margin: 10px, 5px, 10px, 5px;


}

.kid {
    width: 90px;
    height: 90px;
    max-width: 200px;
    max-height: 200px;
    border-style: dotted;
    border-color: #222222;
    margin: 0; /* Removes conflicting margins */
}

.big {
    width: 90px;
    height: 90px;
    max-width: 200px;
    max-height: 200px;
    border-style: dotted;
    border-color: #222222;
    margin: 0;
    margin-left:auto;
    
}
#text {
    display: block;
    margin-right:90px;
    text-align: left;
    font-weight: bold;
}