::before,
::after {
    box-sizing: border-box;
}
.link{
    text-decoration: underline;
}
body{
    
    max-width: 900px;
    margin-left:auto;
    margin-right:auto;

}
.location{
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}
.tags{
    display: inline-block;
    padding: 5px 10px;
    background-color: #90F1EF;
    color: #000;
    box-shadow: 2px 2px 0px #000;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    border: 2px solid #000000;
    transition: background-color 0.3s ease, transform 0.2s ease;
    transition: box-shadow 0.2s ease, transform 0.1s ease;
}


figcaption {
    background-color: #d8d6d6;
    color: #121e13;

    text-align: center;
    width: 100%;
    box-shadow: 2px 2px 2px #000;
}




body {


    background: aliceblue;
    font-family: "Rokkitt", serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.img_container{
    flex-grow: 1;
    display: flex;
    justify-content: space-around;
   flex-wrap: wrap
}
img {
    max-width: 100%; /* Ensure the image scales within its container */
    height: auto; /* Maintain the aspect ratio */
    box-shadow: 2px 2px 5px #000; /* Optional styling */
    margin-top: 10px;
    margin-bottom: 0;
    border-style: solid;
}
figure {
    
    width: 300px;
    height:auto;
    margin: 0 auto;
    margin-bottom: 0px;
    
    
}
figcaption {
    max-width: 100%;
    background-color: #d8d6d6;
    color: #121e13;
    padding: 3px;
    text-align: center;
    width: 297px;
    margin-bottom:10px;
    margin-top: 0;
    box-shadow: 2px 2px 2px #000;
}

.title{
    font-size: 25px;
    text-align: center;
}

.namedate {
    text-align: center;
}

.content {
    background: #e7fadd;
    border-color: #8fee50;
    border-style: solid;
    box-shadow: 2px 2px 2px #000;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    --s: 100px;


}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #90F1EF;
    color: #000;
    box-shadow: 2px 2px 0px #000;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    border: 2px solid #000000;
    transition: background-color 0.3s ease, transform 0.2s ease;
    transition: box-shadow 0.2s ease, transform 0.1s ease;
}

.related {
    background: #d7f9c7;
    border-color: #8fee50;
    border-style: solid;
    box-shadow: 2px 2px 2px #000;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
.links-nextprev-next, .links-nextprev-prev{
    font-family: "Rokkitt", serif;
    display: inline-block;
    padding: 7px 17px;
    background-color: #e4c1f9;
    color: #000;
    box-shadow: 2px 2px 0px #000;
    align-items: center;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    /* text-decoration: none; */
    text-transform: uppercase;
    border: 2px solid #000000;
    transition: background-color 0.3s ease, transform 0.2s ease;
    transition: box-shadow 0.2s ease, transform 0.1s ease;
}