<div id="hero">
    <div class="top">
        <h1> DenialBagel.com</h1>
        <h3 id="garden">Rachel Yu's digital garden</h3>

        <div class="menubar">

            <div class="item"><a class="link" href="/index.html "aria-current="page">Home</a></div>
            <div class="item"><a class="link" href="/static/aboutme/index.html" aria-current="page">About me</a></div>
            <div class="item"><a class="link" href="/static/blog/index.html" aria-current="page" >Blog</a></div>
            <div class="item"><a class="link" href="/static/language/index.html" aria-current="page">languages</a></div>
            <div class="item"><a class="link" href="/static/website/index.html" aria-current="page">website</a></div>
            <div class="item"><a class="link" href="/static/travels/index.html" aria-current="page">travels</a></div>
            <div class="item"><a class="link" href="/static/list/index.html" aria-current="page">lists</a></div>


        </div>
    </div>
</div>