<a class="link" href="{{ post.url }}">
  <div class="postinfo">
    <div class="post">
      <h2>{{ post.data.title }}</h2>
      <h3 class="date">{{ post.data.date | postDate }}</h3>
      <p class="taggie">
        {% for tag in post.data.tags %}
        {% if tag !== "posts" %}
        #{{ tag }}
        {% endif %}
        {% endfor %}
      </p>
    </div>
    <div class="thumbnail">
      <figure>
        <img class="thumbfoto" src="{{ post.data.thumbnail }}">
      </figure>
    </div>
  </div>
</a>