::before,
::after {
    box-sizing: border-box;
}

body {


    background: aliceblue;
    font-family: "Rokkitt", serif;
    font-optical-sizing: auto;

    font-style: normal;
}

.title {
    font-size: 25px;
    text-align: center;
}

.namedate {
    text-align: center;
}

/* .head {
    margin-top: 10px;
    font-size: 10px;
    border-color: #7bf1a8;
    background: aliceblue;
    border-style: solid;
    box-shadow: 2px 2px 2px #000;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    --s: 100px;
} */

.content {
    background: #d7f9c7;
    border-color: #8fee50;
    border-style: solid;
    box-shadow: 2px 2px 2px #000;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    --s: 100px;


}