---
eleventyNavigation:
  key: Creator
  parent: Lists
---

{% css %}
{% include "css/linkgarden.css" %}
{% endcss %}

<section class="main">
    <h2 class="listtitle">Strangers on the internet who inspire me</h2>
    <div>

        <div class="listitem">

            <a class="author" href="https://www.youtube.com/@atherion" >Atherion</a>

            <p>A film major student from Mexico. His video style is so stunning and intimate.</p>
        </div>

    </div>