---
title: Creations
eleventyNavigation:
  key: Creator
  parent: Lists
---

{% css %}
{% include "css/linkgarden.css" %}
{% endcss %}

<section class="main">
    <h2 class="listtitle">Creations/Creators that need to be preserved in a museum and treasured forever</h2>
    <div>

        <div class="listitem">

            <a class="author" href="https://www.youtube.com/@atherion" >Atherion</a>

            <p>A film major student from Mexico. His video style is so stunning and intimate. Watch <a href="https://youtu.be/bH9hths6MdA?si=dPhVmzRiZ8kHyXbc"> my favourite video of his.</a> </p>
        </div>
        <div class="listitem">

         <a class="author" href="https://www.youtube.com/watch?v=2XZ9z6OewR0&list=LL&index=62&t=10s" >The case for making art when the world is on fire | Amie McNee | TEDxManchester
            </a>

            <p>"Your art is the antidote for so many peoples pain but you are keeping it to yourself." </p>
        </div>

        <div class="listitem">

            <a class="author" href="https://www.youtube.com/@elyssedavega/videos" >Elysse DaVega
               </a>
   
               <p>One of my favourite polygot Youtubers. She gives practical and honest advice on language learning, as wella as documenting her own language learning journey.</p>
           </div>
           <div class="listitem">

            <a class="author" href="https://matthewdicks.com/blog/" >Matthew Dicks
               </a>
   
               <p>The blogger & Author I admire most.</p>
           </div>
           
   
    </div>