---
title: Friends
eleventyNavigation:
  key: Linkgarden
  parent: Lists
---

{% css %}
{% include "css/linkgarden.css" %}
{% endcss %}

<section class="main">
    <h2 class="listtitle">Shout out to my amazing friends who create amazing things</h2>

    <div class="friends">

        <div class="listitem">
            <a href="https://www.linkedin.com/in/walteraugustine/" target=>Walter Augustine</a>
            <p>Walter is a software engineeer, who has been of tremendous help in the making of my website.</p>
        </div>
        <div class="listitem">
            <a href="https://jacklloydhk.com/" target=>Jack Lloyd</a>
            <p>Jack is a photographer from in Hong Kong. </p>
        </div>
        <div class="listitem">
            <a href="https://www.kiucheung.com/" target=>Kiu Cheung</a>
            <p>Kiu is a motion designer and creative currently from in US. For me, her art is soul-healing. </p>

        </div>
        <div class="listitem">
            <a href="https://www.instagram.com/it_glowwws/" target=>It Glows</a>
            <p> Based in the world, his sketches has voices of their own. </p>
        </h2>
    </div>
    <div class="listitem">
        <a href="https://www.instagram.com/intohimoni/" target=>Michael Schirnhofer</a>
        <p>Michael is a travelling photographer from in Austria. </p>
    </h2>
</div>
<div class="listitem">
    <a href="https://www.daneyto.com/" target=>Daneyto</a>
    <p>Hector is a fasion designer from in London. </p>
</h2>
</div>
</section>