---
title: Lists
eleventyNavigation:
  key: Lists
  order: 5
---

{% css %}
{% include "css/linkgarden.css" %}
{% endcss %}
<div class="listtitle">
    <p>My digital treasure boxes</p>
</div>
<a class="link" href="/list/linkgarden">
    <div class="listitem center">Friends who create</div>
</a>

<a class="link" href="/list/books">
    <div class="listitem center">Books</div>
</a>
<a class="link" href="/list/creator">
    <div class="listitem center">Creations</div>
</a>
<a class="link" href="/list/facts">
    <div class="listitem center">Random facts about me</div>
</a>