---
eleventyNavigation:
  key: "About Me"
  order: 1
---

{% css %}
{% include "css/aboutme.css" %}
{% endcss %}

<section class="whoami">
    <h1>Who am I?</h1>
    <div class="imgcontainer">
        <figure class="imgs">
            <img class="myself" src="/foto/Profile.JPG" alt="My face">
            <figcaption>El Sauce, El Salvador</figcaption>
        </figure>
        <figure class="imgs"><img class="myself" src="/foto/IMG_9701.jpg" alt="walibee">
            <figcaption>Phillip Island, Australia</figcaption>
        </figure>
    </div>
    <div class="self">
        <p class="firstp">
                My name is Rachel. I was born and raised in Hong Kong. I have been working
                and
                travelling ever since I turned 18.
            </p>
        <p class="secondp">
                I love languages. I speak four (Cantonese, English, Mandarin, Spanish), teach three (Cantonese,
                English,
                Mandarin) and am currently learning my fifth (Portuguese).
            </p>

        <p class="thirdp">
                I am a U56 JR powerlifter. I started training in 2023 and took part in my first competition in August 2024. 
                <div class="imgcontainer">
                <img class="pwl" src="/foto/bench.jpeg" alt="bench">
                <img class="pwl" src="/foto/squat.jpeg" alt="squat">
            </div>
            </p>
        <p class="forthp">
                I am also a line cook. I have worked in restaurants, cafes, hotels. I have a love-hate relationship
                with
                this line of work but mostly I love what I do. When I am out of work I like to cook for friends and family. When I travel, I cook for my hosts.

                <div class="imgcontainer">
                    <img class="cook" src="/foto/cooking1.jpeg" alt="prawn">
                    <img class="cook" src="/foto/cooking2.jpg" alt="cauli">
                    <img class="cook" src="/foto/cooking3.jpg" alt="salad">
                </div>
            </p>
        <p class="fifthp">
                I am a solo backpacker. As of the making of this website I have just come back from
                an
                epic 3-month hitchhiking 
                adventure to Central America.
                <img class="pwl" src="/foto/bpking.jpeg" alt="backpacking">
        </p>
    </div>
</section>