---
eleventyNavigation:
  key: "Blog"
  order: 2
pagination:
  data: collections.posts
  size: 10
  alias: postslist
---

{% css %}
{% include "css/blog.css" %}
{% endcss %}

<div class="blogintro">
    <p>Take a deep breath before diving into Rachel's cursed thoughts...</p>
</div>

<div class="tagmenu">
    {% include "tagmenu.njk" %}
</div>

<section class="posts">
    {%- for post in postslist | reverse %}
        <a class="link" href="{{ post.url }}">
            <div class="post">
                <div class="postinfo">
                    <h2 class="posttitle">{{ post.data.title }}</h2>
                    <h3 class="date">{{ post.data.date | postDate }}</h3>
                    <p class="taggie">
                        {% for tag in post.data.tags %}
                            {% if tag !== "posts" %}
                                #{{ tag }}
                            {% endif %}
                        {% endfor %}
                    </p>
                </div>
                <div class="thumbnail">
                    {% if post.data.thumbnail %}

                        {{post.data.thumbnail.src}}
                        {{post.data.thumbnail.alt}}
                        {{post.page.inputPath}}

                        {% thumbnail post.data.thumbnail.src,
                        post.data.thumbnail.alt or "Thumbnail image",
                        post.page.url %}

                    {% else %}
                        <img class="thumbphoto" eleventy:optional="placeholder">
                    {% endif %}
                </div>
            </div>
        </a>
    {%- endfor %}

</section>

<nav >
    <ol class="leftrightnumber">
        {% if pagination.href.previous %}
            <li class="leftright">
                <a href="{{ pagination.href.previous }}">Previous</a>
            </li>
        {% endif %}

        {%- for pageEntry in pagination.pages %}
            <li class="pagenumber">
                <a href="{{ pagination.hrefs[ loop.index0 ] }}"{% if page.url == pagination.hrefs[ loop.index0 ] %} aria-current="page"{% endif %}>
                    {{ loop.index }}
                </a>
            </li>
        {%- endfor %}

        {% if pagination.href.next %}
            <li class="leftright">
                <a href="{{ pagination.href.next }}">Next</a>
            </li>
        {% endif %}
    </ol>
</nav>