---
eleventyNavigation:
  key: "Blog"
  order: 2
pagination:
  data: collections.posts
  size: 10
---

{% css %}
{% include "css/blog.css" %}
{% endcss %}

<div class="blogintro">
    <p>Take a deep breath before diving into Rachel's cursed thoughts...</p>
</div>

<div class="tagmenu">
    {% include "tagmenu.njk" %}
</div>

<section class="posts">
    {% set postslist = pagination.items %}
    {% include "postslist.njk" %}
</section>

<nav >
  
    <ol>
        <li class="leftright">
            {% if pagination.href.previous %}
                <a href="{{ pagination.href.previous }}">Previous</a>
            {% else %}Previous{% endif %}
        </li>

        {%- for pageEntry in pagination.pages %}
            <li class="pagenumber">
                <a href="{{ pagination.hrefs[ loop.index0 ] }}"{% if page.url == pagination.hrefs[ loop.index0 ] %} aria-current="page"{% endif %}>Page {{ loop.index }}</a>
            </li>
        {%- endfor %}

        <li class="leftright">
            {% if pagination.href.next %}
                <a href="{{ pagination.href.next }}">Next</a>
            {% else %}Next{% endif %}
        </li>
    </ol>
</nav>