---
title: Blog Posts
eleventyNavigation:
  key: "Blog"
  order: 2
pagination:
  data: collections.posts
  size: 10
  reverse: true
  alias: postslist
---

{% css %}
{% include "css/blog.css" %}
{% endcss %}

<div class="blogintro">
    <p>Take a deep breath before diving into Rachel's cursed thoughts...</p>
</div>

<div class="tagmenu">
    {% include "tagmenu.njk" %}
</div>

<section class="posts">
    {%- for post in postslist  %}
        {% include "postslistitem.njk" %}
    {%- endfor %}
</section>

<nav >
    <ol class="leftrightnumber">
        {% if pagination.href.previous %}
            <li class="leftright">
                <a href="{{ pagination.href.previous }}">Previous</a>
            </li>
        {% endif %}

        {%- for pageEntry in pagination.pages %}
            <li class="pagenumber">
                <a href="{{ pagination.hrefs[ loop.index0 ] }}"{% if page.url == pagination.hrefs[ loop.index0 ] %} aria-current="page"{% endif %}>
                    {{ loop.index }}
                </a>
            </li>
        {%- endfor %}

        {% if pagination.href.next %}
            <li class="leftright">
                <a href="{{ pagination.href.next }}">Next</a>
            </li>
        {% endif %}
    </ol>
</nav>