{% css %}
{% include "css/language.css" %}
{% endcss %}

<div class="row">
    <h2>Bienvenidos!</h2>

    <div class="item">
        <a class="link" href="/language/index.html" target>English</a>
    </div>
</div>
<p class="nota">Nota: Intenté usar la menor cantidad de traducciones posible. Así que, disculpen si he cometido errores en mis
    escritos.</p>
<div class="aim">
    <h1 class="aimt">
   El objetivo de esta página
    </h1>
    <p>
        Para registrar mi progreso en el viaje de aprendizaje de idiomas, para recordarnos a ustedes y a mí que todos comenzamos desde el piso y que el aprendizaje de idiomas es un proceso hermoso.
    </p>
</div>

<div class="aim">
    <h1 class="aimt">
       Mi historia
    </h1>
    <p>
        Hablo 4 idiomas: cantonés, inglés y mandarín con fluidez, y estoy aprendiendo español desde agosto de 2024.
    </p>
    <p>
         Soy muy afortunada de haber tenido la oportunidad de viajar durante 3 meses por Nicaragua, Honduras y El Salvador. No hay mejor manera de aprender un idioma que estar en un entorno donde es necesario usarlo todos los días.
        </p>
    <p>
        Aunque ya he regresado a mi país sin querer, sigo aprendiendo este hermoso idioma. Me encanta el proceso.


    </p>

</div>