{# ---
eleventyNavigation:
  key: "Espanol"
  parentKey: "Languages"
  order: 2
--- #}


{% css %}
{% include "css/language.css" %}
{% endcss %}

<div class="row">
    <h2>Bienvenidos!</h2>
    
    <a class="link" href="language.njk" >
        <div class="item">English</div>
    </a>
</div>
<p class="nota">Nota: Intenté usar la menor cantidad de traducciones posible. Así que, disculpen si he cometido errores en mis
    escritos.</p>
<div class="aim">
    <h1 class="aimt">
   El objetivo de esta página
    </h1>
    <p>
        Para documentar mi progreso en mi aprendizaje de idiomas, también me sirve como motivación para seguir en el camino. Además, ojalá que mi página les pueda servir como inspiración para empezar sus propios proyectos de aprendizaje.
    </p>
</div>

<div class="aim">
    <h1 class="aimt">
       Mi historia
    </h1>
    <p>
        Hablo 4 idiomas: cantonés, inglés y mandarín con fluidez, y estoy aprendiendo español desde agosto de 2024.
    </p>
    <p>
         Soy muy afortunada de haber tenido la oportunidad de viajar durante 3 meses por Nicaragua, Honduras y El Salvador. No hay mejor manera de aprender un idioma que estar en un entorno donde es necesario usarlo todos los días.
        </p>
    <p>
        Aunque ya he regresado a mi país sin querer, sigo aprendiendo este hermoso idioma. Me encanta el proceso. 
    </p>
</div>
<h2 class="aimt">
    Mis proyectos
</h2>
<div class="aim">
    <p>Diario de video </p>
    <p>Estaba escribiendo en mi cuaderno cuando se me vino a la mente la idea de grabarme contando sobre mi día en español.</p>
    <p>Entonces lo hice. He disfrutado un montón haciéndolo. Jugaba con las luces en mi cuarto, y creo que quedó divino. Verlo  <a href="https://youtu.be/p1ngKadnOg4">acá.</a></p>
</div>

