---
eleventyNavigation:
  key: "Languages"
  order: 3
---

{% css %}
{% include "css/language.css" %}
{% endcss %}

<h2 class="row">Language learning corner</h2>
{# <p class="nota">Nota: Intenté usar la menor cantidad de traducciones posible. Así que, disculpen si he cometido errores en mis
        escritos.</p> #}
<div class="item espanol ">
    <a class="link" href="/espanol/index.html">Español</a>
</div>
</div>
<div class="aim">
<h1 class="aimt">
        Aim of this page
    </h1>
<p>
        I'm documenting my language learning journey to remind us all that everyone begins as a beginner, and that mastering a new language is a rewarding adventure.
    </p>
</div>

<div class="aim">
<h1 class="aimt">
       My story
    </h1>
<p></div>