---
eleventyNavigation:
  key: "Lists"
  order: 5
---

{% css %}
{% include "css/linkgarden.css" %}
{% endcss %}
<div class="listtitle">
    <p>My digital treasure boxes</p>
</div>
<a class="link" href="/linkgarden/index.html">
    <div class="listitem center">Friends who create</div>
</a>

<a class="link" href="/books/index.html">
    <div class="listitem center">Books</div>
</a>
<a class="link" href="/creator/index.html">
    <div class="listitem center">Creators</div>
</a>