---
eleventyNavigation:
  key: "Lists"
  order: 5
---

<div class="blogintro">
    <p>My digital treasure boxes</p>
</div>
<a class="link" href="/linkgarden/index.html">
    <div class="listtitle">Friends who create</div>
</a>

<a class="link" href="/books/index.html">
    <div class="listtitle">Books</div>
</a>