---
title: Travels
eleventyNavigation:
  key: "Travels"
  order: 6
---

{% css %}
{% include "css/travels.css" %}
{% endcss %}
<div class="workinprogress">
<p>This is a work in progress, come back soon!</p>
<p>In the mean time, check out my <a href="/blog/tag/travels/index.html">travel blog posts</a>.</p>
</div>
<img class="gifwork" src="https://media4.giphy.com/media/v1.Y2lkPTc5MGI3NjExMzJqMXRic3k0YXJyaTViem52cDYxaWFieWkzd2RyZjRxNXZvdW5scSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/OMeGDxdAsMPzW/giphy.gif" alt="work in progress">