---
title: "Website"
eleventyNavigation:
  key: "Website"
  order: 4
---

{% css %}
{% include "css/website.css" %}
{% endcss %}

<section class="content">
    <h2 class="title">npm start - Making of Denial Bagel</h2>
    <p class="p 1">
            Never have I ever imagined I would on eday build a website. Growing up I had never been sharp with
            technology. I never passed one single coding class, and had zero interest in anything code related.
        </p>
    <p class="p 2">
            Until...I injured myself in a backpacking trip and had to stay home and rest for a few months. (read about
            my accident here). With the newly acquired free time, the idea occured to me.
        </p>
    <img id="screenshot" src="/foto/IMG_7047.jpg" alt="text with a friend">
    <p class="p 3">
            What started as a fleeting thought stayed in the back of my head, marinated for a few days until I decided
            to give it a go. For one week I went through a 5 hour HTML and CSS tutorial, hence the making of this
            website.
        </p>
        <p>Now, like I said, I am not the sharpest person when it comes to anything tech related. So you can imagine, the making of this website has not been a walk in the park. There were so many times where I thought about giving up and turn to one of those websites that help you make websites for help, instead of doing it on my own from Hello World. But I needed to prove a point to myself. </p>

        <p>Over two months of coding every single day, I have at least gotten the hang of things. Though half the time I am sat in front of my computer starting at %<{}$%#(*$U s, I would curse at myself under my breath like a grumpy grandma, questioning my sanity. </p>
        <p>The perfect representation of me coding doesn't exi...</p>
        <p>
            <img class="gifdog" src="https://media3.giphy.com/media/v1.Y2lkPTc5MGI3NjExeTN6d2pkbWFyaXI5bnl2a3R4czJhOGhrZ2VrdTFnZ2VyMm9hN2xvcSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/z9AUvhAEiXOqA/giphy.gif" alt="it's fine">
        </p>
    <h1 class="title">
            Website credits and thank yous
        </h1>
    <p class="p 1">
            I can't thank my good friend, Walter Augustine, enough. As a developer, he generously spent time coding with
            me outside his work hours. With a 12-hour time difference between us, he patiently handled my flood of
            coding questions, messy code and silly bugs. He helped me debug, shared insider tips and tricks from his decade of full-time coding experience. This would not have been possible without his help.
            <div class="walter">
                <img class="screenshot1" src="/foto/screenshot2.png" alt="text with a friend">
                <img class="screenshot1" src="/foto/screenshot3.png" alt="text with a friend">
            </div>
        </p>

</section>