{% css %}
{% include "css/footer.css" %}
{% endcss %}

<footer>
  <div class="card">
    <img class="kid" src="/foto/IMG_6716.jpg" alt="kid" width="90">
    <p id="intro">Hi there! My name is Rachel. I was born in 03'. I am from Hong Kong.</p>
  </div>
  <div class="contact">
    <div id="text">
      <p class="getintouch">Ge in touch!</p>
      <div>
        <a id="email" href="mailto:yuhoilamrachel@gmail.com">email</a>
      </div>
      <div>
        <a id="insta" href="https://www.instagram.com/1.step_closer/">instagram</a>
      </div>
    </div>
    <img class="big" src="/foto/footer.jpeg" alt="kid" width="90">
  </div>
</footer>