{% css %}
{% include "css/footer.css" %}
{% endcss %}

<footer>
    <div class="card">
        {# TODO: need to figure this out lol #}
        {# <img id="kid" src="'/public/foto/IMG_6716.jpg" alt="kid"> #}
        <p id="intro">Hi there! My name is Rachel. I was born in 03'. I am from Hong Kong.</p>
    </div>
    <div class="contact">
        <div id="text>">
            <h2 id="title">Get in touch!</h2>
            <div>
                <a id="email" href="mailto:yuhoilamrachel@gmail.com">email</a>
            </div>
            <div>
                <a id="insta" href="https://www.instagram.com/1.step_closer/">instagram</a>
            </div>
        </div>
    </div>
</footer>