<a class="link" href="{{ post.url }}">
  <div class="post">
    <div class="postinfo">
      <h2 class="posttitle">{{ post.data.title }}</h2>
      <h3 class="date">{{ post.data.date | postDate }}</h3>
      <p class="taggie">
        {% for tag in post.data.tags %}
          {% if tag !== "posts" %}
            #{{ tag }}
          {% endif %}
        {% endfor %}
      </p>
    </div>
    <div class="thumbnail">
      {% if post.data.thumbnail %}
        <img src="{{ post.url }}{{ post.data.thumbnail.src }}" alt="{{ post.data.thumbnail.alt }}" width="100">
      {% else %}
        <img class="thumbphoto" eleventy:optional="placeholder">
      {% endif %}
    </div>
  </div>
</a>