<footer style="background-color: purple; height: 4rem;">
    <img id="kid" src="foto/IMG_6716.jpg" alt="kid" />
    <p id="intro">Hi there! My name is Rachel. I was born in 03'. I am based Hong Kong.</p>

    <div id="contact.text>">
        <h2 id="contact.title">Get in touch!</h2>
        <div> <a id="email" href="mailto:yuhoilamrachel@gmail.com">email</a></div>
        <div>
            <a id="insta" href="https://www.instagram.com/1.step_closer/">instagram</a>
        </div>
    </div>
</footer>