<header style="background-color: grey; height: 4rem;">
  {# <div id="hero">
    <div class="top">
      <h1> DenialBagel.com</h1>
      <h3>Rachel Yu's digital garden</h3>
  
      <div class="menubar">
        <div class="item"><a href="index.html" target=>Home</a></div>
        <div class="item"><a href="aboutme.html" target=>About me</a></div>
        <div class="item active"><a href="blog.html" target=>Blog</a></div>
        <div class="item"><a href="espanol.html" target=>Español</a></div>
        <div class="item"><a href="website.html" target=>website</a></div>
        <div class="item"><a href="travels.html" target=>travels</a></div>
  
      </div>
    </div>
  </div> #}
</header>