::before,
::after {
  box-sizing: border-box;
}

body {

  background: aliceblue;
  font-family: "Ysabeau Office", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}



#hero {

  display: block;
  font-family: "Freckle Face", system-ui;
  font-style: normal;
  background-color: #ffd6e0;
  border: 1px solid #EFAABC;
  border-radius: 5px;
  margin-bottom: 1rem;
  margin-top: 20px;

  text-align: center;

  font-weight: bold;
  box-shadow: 2px 2px 0px #000;

}

.menubar {
  background-color: #f8f894;
  border: 1px solid #dede40;
  border-radius: 10px;
  margin-bottom: 1rem;
  text-align: center;
  font-family: "Rokkitt", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: bold;
  box-shadow: 2px 2px 0px #000;
}

.item {
  display: inline-block;
  padding: 10px 20px;
  background-color: #90F1EF;
  color: #000;
  cursor: pointer;
  width: 80%;
  height: 60%;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-decoration: none;
  text-transform: uppercase;
  border: 2px solid #000000;
  transition: background-color 0.3s ease, transform 0.2s ease;
  border-radius: 10px;
  box-shadow: 2px 2px 0px #000;
  transition: box-shadow 0.2s ease, transform 0.1s ease;
}



h1 {
  font-size: clamp(48px, 13vw, 14vw);
  margin-bottom: 10px;
}

h3 {
  font-size: clamp(30px, 7vw, 8vw);
  text-decoration-line: underline;
  margin-top: 0px;
}