---
eleventyNavigation:
  key: "Languages"
  order: 3
---

{% css %}
{% include "css/language.css" %}
{% endcss %}
<div  class="row">
<h2>Welcome!</h2>


<a class="link" href="espanol.njk" >
    <div class="item">Español</div>
</a>
   

</div>
</div>

<h2 class="aimt">
        Aim of this page
    </h2>
    <div class="aim">
<p>

        I'm documenting my language learning journey, as a motivation for me to keep going and hopefully as an inspiration to you guys to start your own learning project.
    </p>
</div>

<h2 class="aimt">
    My projects
</h2>
<div class="aim">
<p>
Video diary
</p>
<p>
    I was doing a journaling exercise, and the idea suddenly occured to me that I can shoot a video of me talking about my day in Spanish. 
</p><p>
So that's what I did. I shot a 7 minute video, using different corners of my bedroom, playing with different lighting. It turned out quite lovely. Watch it <a href="https://youtu.be/p1ngKadnOg4">here.</a>
</p>
</div>
<div class="aim">
    <p>Spanish <a href="/blog/tag/espanol/index.html">blog posts</a> </p>
    <p>I try writing in Spanish as much as I can, because writing is a very good exercise to train my ability to think in Spanish. Read my entries <a href="/blog/tag/espanol/index.html">here.</a> </p>

</div>
