---
layout: layouts/base.njk
title: Blog
permalink: /blog/index.html
---

<div class="blogintro">
    <p>Take a deep breath before diving into Rachel's cursed thoughts...</p>
</div>

<section class="posts">
    <div class="post 1">
        <h2>Life is a roller coaster- A different interpretation</h2>
        <h3>13.2.2022</h3>
        <p> There’s a distant memory in the back of my head...</p>
        <h3 class="more"><a href="1.post.html" target=>Read more</a></h3>
    </div>
    <div class="post 2">
        <h2>second post</h2>
        <h3>25.4.2025</h3>
    </div>
</section>