---
layout: layouts/base.njk
title: Website
permalink: /website/index.html
---


<section class="content">
    <h2 class="title">Making of Denial Bagel</h2>
    <p class="p1">
        Never have I ever imagined I would on eday build a website. Growing up I had never been sharp with
        technology. I never passed one single coding class, and had zero interest in anything code related.
    </p>
    <p class="p2">
        Until...I injured myself in a backpacking trip and had to stay home and rest for a few months. (read about
        my accident here). With the newly acquired free time, the idea occured to me.
    </p>
    <img id="screenshot" src="foto/IMG_7047.jpg" alt="text with a friend" />
    <p class="p3">
        What started as a fleeting thought stayed in the back of my head, marinated for a few days until I decided
        to give it a go. For one week I went through a 5 hour HTML and CSS tutorial, hence the making of this
        website.
    </p>
    <h1 class="title">
        Website credits and thank yous
    </h1>
    <p class="p1">
        I can't thank my good friend, Walter Augustine enough. Being a developer himself, he didn't mind spending
        time coding with me outside of his work hour. Enduring my messy codes and dumb questions, helping me debug
        and teaching me tips and tricks that he acquired from coding full time for almost 10 years.
    </p>

</section>