<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/style/header.css" />

    <link rel="stylesheet" href="/style/blog.css" />
    <link rel="stylesheet" href="/style/footer.css" />

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Freckle+Face&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Rokkitt:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <title>Blog - Denial Bagel</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div id="hero">
        <div class="top">
            <h1> DenialBagel.com</h1>
            <h3 id="garden">Rachel Yu's digital garden</h3>

            <div class="menubar">

                <a class="link" href="/index.html"><div class="item">Home</div></a>

                <a class="link" href="/static/aboutme/index.html" ><div class="item">About me</div></a>
                
               <a class="link" href="/static/blog/index.html"> <div class="item active">blog</div></a>

               <a class="link" href="/static/language/index.html" > <div class="item">languages</div></a>

                <a class="link" href="/static/website/index.html"><div class="item">website</div></a>

               <a class="link" href="/static/list/index.html" ><div class="item">lists</div></a>

               <a class="link" href="/static/travels/index.html"> <div class="item">travels</div></a>
            



            </div>
        </div>
    </div>

    <div class="blogintro">
        <p>Take a deep breath before diving into Rachel's cursed thoughts...</p>
    </div>

    <div class="tagmenu">

        {% include "tagmenu.njk" %}
     
     
    </div>
      
    <section class="posts">
        {% set postslist = collections.posts %}
        {% include "postslist.njk" %}
    </section>

    <section class="bottoms">
        {% include "footer.njk" %}
    </section>
</body>

</html>